/* A debug class, used to separate components graphically during development */
@media (min-width:1000px){
    

.debug {
    border-style:solid;
}

.rightAlign {
    text-align: right;
}

.flexParent{
    display:flex;
    flex-direction: row;
    height: 100%;
}

.sidebar{
    width: 250px;
    background-color: magenta;
    height: 100%;
    flex:0.2;
    
}

.maincontent{
    background-color: #f4f4f4;
    height:100%;
    flex:0.8
    
}

.searchResult span {
    width: 200px;
    display: inline-block;
}
}

@media (max-width:1000px)
{
    .flexParent{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    
    .sidebar{
       
        background-color: blueviolet;
        width: 100%;
        flex: 0.2
    
    }

    .maincontent{
    background-color: #f4f4f4;
    width:100%;
    flex:0.8
    
}

.searchResult span {
    width: 200px;
    display: inline-block;
}
        
    
}


