@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Plaster&display=swap');

.onTopOfEachOther {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

:root {
    --background-color: #121212;
    --foreground-color: #1e1e1e;
    --hover-color: #2e2e2e;
    --text-color: #e0e0e0;
    --muted-text-color: #a0a0a0;
    --primary-color: #bb86fc; /* Purple */
    --secondary-color: #03dac6; /* Teal */
    --error-color: #cf6679; /* Red */
  
    /* Borders and Shadows */
    --border-color: #333333;
    --box-shadow-color: rgba(0, 0, 0, 0.6);
  
    /* Fonts */
    --font-family: 'Open Sans', sans-serif;
    --header-font: 'Oswald', sans-serif;
    --base-font-size: 16px;
  
    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Radius */
    --border-radius: 4px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header select {
  font-size: 24pt;
  width: 64pt;
}
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacing-small) var(--spacing-medium);
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    transition: background-color 0.3s ease;
    
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  input, textarea {
    background-color: var(--foreground-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small);
    font-size: 1rem;
    width: 100%;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--muted-text-color);
  }
  
  .dashboard {
    font-family: var(--font-family);
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-large);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .card {
  background-color: var(--background-color);
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  width: 100%;
  max-width: 600px;
}


  .selections {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: var(--spacing-large);
  }

  .button-container {
    margin-top: var(--spacing-large);
    display:flex;
    width: 30%;
    flex-direction:column; 
    gap: 12px;
    align-content:center;

    
    
  }


  .find-song {
    padding: 12px 24px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }

  button.find-song:hover {
    animation: glow 1.5s infinite alternate;  
    transform: scale(1.1);  
  }
  
 
  .song, .progression {
    display: inline-block;
    height: 180px;
    width: 250px;
    cursor: pointer;
    margin-bottom: 0;
  }


  .song img {
    border-radius: var(--border-radius);
  }

  .song:hover, .progression:hover {

    background-color: var(--hover-color);
    transition: 0.2s all;

  }

  .searchResult, .progressionBox {
    display: flex;
    flex-wrap: wrap; /* Wrap to the next row if cards don't fit in one line */
    gap: 16px;       /* Space between cards */
    justify-content: center;
}
  
  .alert {
    background-color: var(--error-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-small) var(--spacing-medium);
    font-weight: bold;
  }
  
  footer {
    background-color: var(--foreground-color);
    color: var(--muted-text-color);
    text-align: center;
    padding: var(--spacing-medium);
    border-top: 1px solid var(--border-color);
  }

  .detailsButtons{
    display: flex;
    justify-content: space-between;
  }
  
  .lyricAndTranslationDiv{
    display: flex;
    justify-content: space-around;
  }

  .lyrics {
    align-self: flex-start;
    margin: 0;
    font-family: var(--header-font);
    font-size: 2vw;
    padding-inline: 1vw;
    width: 45vw;
  }

  .lyrics li {
    text-align: left;
    line-height: 1.5em;
    white-space: nowrap;
    cursor: pointer;
  }

  .testDiv {
    align-self: flex-start;
    padding-inline: 1vw;
    width: 45vw;
  }

  .testInput {
    height: 1.5em;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    display: inline-block;
    background: none;
    font-family: var(--header-font);
    font-size: 2vw;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: -0.8px;
  }

  .correct {
    color: greenyellow;
  }

/* A debug class, used to separate components graphically during development */
@media (min-width:1000px){
    

.debug {
    border-style:solid;
}

.rightAlign {
    text-align: right;
}

.flexParent{
    display:flex;
    flex-direction: column;
    height: 100%;
}

.sidebar{
    width: 250px;
    background-color: magenta;
    height: 100%;
    flex:0.2;
    display: none;
    
}

.maincontent{
    background-color: #f4f4f4;
    height:100%;
    width: 100%;
    flex:1
}

.searchResult span {
    width: 200px;
    display: inline-block;
}

.topLeftButton{
  float: left;
}

.topRightButton {
  float: right;
}

.user-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

@media (max-width:1000px)
{
    .flexParent{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    
    .sidebar{
       
        background-color: blueviolet;
        width: 100%;
        flex: 0.2;
        display: none;
    
    }

    .maincontent{
    background-color: #f4f4f4;
    width:100%;
    flex:0.8
    
}  
}


.logo {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-color)
}

h1.logo {
  font-size: 42pt;
}

.fullscreen {
  height: 100vh;
  width: 100%;
  margin: auto;
  vertical-align: middle;
  display: flex;
}

/* Style for the select dropdown */
select {
  background-color: var(--foreground-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  transition: background-color 0.3s, border-color 0.3s;
}

/* Style the select dropdown when focused */
select:focus {
  border-color: var(--primary-color);
  background-color: var(--hover-color);
  outline: none;
}

/* Style the options in the dropdown */
select option {
  background-color: var(--foreground-color);
  color: var(--text-color);
  padding: var(--spacing-small);
  border: none;
  font-size: 1rem;
}

select option:hover {
  background-color: var(--primary-color);
  color: var(--foreground-color);
}

select:focus, select:hover {
  background-color: var(--hover-color);
  border-color: var(--primary-color);
}

select:disabled {
  background-color: var(--background-color);
  color: var(--muted-text-color);
  cursor: not-allowed;
}

#searchForm {
  width: 100vw;
}

#searchForm * {
  margin: 10px;
}

#searchForm form * {
  width: 30%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}